
<div class="container_nav">
    <nav class="nav_return">
        <div class="logo_cat">
            <a href="/"><img src="../../img/nav_bird.png" alt="logo"></a>
        </div>
        <div class="return_">
             <a href="/">back to home</a>
        </div>
    </nav>
</div>