
<div class="container_nav">
    <nav class="nav_return">
        <div class="logo_cat">
            <a href="/"><img src="../../img/nav_cat.png" alt="logo"></a>
        </div>
        <div class="return_">
             <a href="/">volver</a>
        </div>
    </nav>
</div>