<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WelcomeBirdStone</title>
    <%- include('component/_favicon') %>
</head>
<body>
    <%- include('../component/_logOut') %>
    <h1>Welcome Visit </h1>
</body>
</html>