
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>BirdStone</title>
</head>
<body>    
    <div class="container_log">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <%- include('component/_nav_returnIndex') %>
        <div class="login_container">       
            <div class="formLogin">
                <h1 class="title_login">Sing in </h1>
                <div class="burbble">
                   .
                </div>
                <div class="burbble2">
                   .
                </div>
                <form action="/user/auth" method="POST">
                    <div class="text_Inf" id="text_Inf">
                        <label for="nombreUsuario">User name:</label>
                    </div>
                    <input class="btn btn-input" type="text" name="nombreUsuario" required>
                    <div class="text_Inf" id="text_Inf">
                        <label for="password">Password:</label>
                    </div>
                    <input class="btn btn-input" type="password" name="password" required>
                    <button type="submit" class="sub_">Sing in</button>
                    <div class="send_register">
                        <p>¿u don´t have account?</p> <a href="/user/register" class="Nexto">¡Sing up!</a>
                    </div>
                </form>
                <% if (error != null){ %> 
                    <p id="err"><%= error %></p>
                <% }%>
            </div>
        </div>
    </div>
    <script src="../js/mensajes.js"></script>
</body>
</html>

