@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
 margin: 0;
}
a{
    text-decoration: none;
}
.f2{
    display: none;
}
.nav_return{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-bottom: 15px;
}
.logo_cat{
    width: 45px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px 8px 8px;
}
.logo_cat:hover{
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 42px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 42px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 42px 0px rgb(255, 255, 255);
}
.logo_cat img{
    height: 80px;
}
.return_{
    margin-right: 5px;
    
}
.return_ a{
    color: white;
} 
.img_reg{
    display: none;
}
.register_container{
    height: 100%;
    display: flex;
    width: 100%;  
}
.title_register{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.form_regis{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_regis form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 8%;
    border-radius: 15px;
}
.text{
    margin: 15px;
}
.text input{
    height: 1.7em;
    border: 1px solid white;
}
.inputNextAprobe{
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.inputNextNegate{
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
}
.error1{
    display: none;
}
.error2{
    display: none;
}
.error3{
    display: none;
}
.error4{
    display: none;
}
.error5{
    display: none;
}
.error6{
    display: none;
}
.activeError{
    display: block;
    background-color: rgb(255, 0, 0);
    color: rgb(252, 252, 252);
    font-size: 0.6em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
}
