@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
 margin: 0;
}
body{
    background: rgb(6,81,126);
    background: linear-gradient(90deg, rgba(6,81,126,1) 0%, rgba(9,67,119,1) 17%, rgba(30,76,135,1) 80%);
}
a{
    text-decoration: none;
}
.f2{
    display: none;
}
.nav_return{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin-bottom: 15px;
}
.logo_cat{
    width: 45px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px 8px 8px;
}
.logo_cat:hover{
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 42px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 42px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 42px 0px rgb(255, 255, 255);
}
.logo_cat img{
    height: 80px;
}
.return_{
    margin-right: 5px;
    
}
.return_ a{
    color: white;
} 
.img-reg{
    display: none;
}
.register_container{
    height: 100%;
    display: flex;
    width: 100%;  
}
.title_register{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.form_regis{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_regis form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 8%;
    border-radius: 15px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
.text{
    margin: 15px;
}
.text input{
    height: 1.7em;
    border: 1px solid white;
    width: 100%;
}
.inputNextAprobe{
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.inputNextNegate{
    transition: 0.5s;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
    box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
}
.error1{
    display: none;
}
.error2{
    display: none;
}
.error3{
    display: none;
}
.error4{
    display: none;
}
.error5{
    display: none;
}
.error6{
    display: none;
}
.activeError{
    display: block;
    background-color: rgb(255, 0, 0);
    color: rgb(252, 252, 252);
    font-size: 0.6em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 2%;
    width: 85%;
}

form{
    max-width: 200px !important;
}
.sendo{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    width: 6em;
    height: 2em;
}
.sendo:hover{
    transition: 0.8s;
    background-color: white;
    color: black;
    border-radius: 8px;
    transform: rotate(-10deg);
}

@media screen and (min-width:500px) {
    .form_regis form{
        padding: 6%;
    } 
    form{
        max-width: 250px;
       }
    
}
@media screen and (min-width: 720px) {
    .form_regis form{
        padding: 6%;
    }
    .img-reg{
        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        
    }
    .register_container{
        justify-content: center;
    }
    .form_regis{
        display: block;
        width: 35%;
    }
    .form_regis form{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 250px !important;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
}

@media screen and (min-width: 800px) {
    .form_regis{
        width: 30%;
    }
    .form_regis form {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 300px ;
    }
    .register_container{
        margin-top: 3%;
    }
    .img-reg{
        margin-left: 50px;
    }
    .logo_cat{
        margin-left: 30px;
    }
    .return_{
        margin-right: 30px;
    }
    .nav_return{
        height: 4em;
    }
}